@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

:root {
  --primary: rgb(255, 238, 191);
}

body {
  margin: 0;
  font-family: "Exo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

button {
  margin: 10px;
  padding: 10px;
  font-family: "Exo", sans-serif;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  font-size: 1.2rem;
  color: var(--primary);
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
