.input-field {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  border: 0;
}

.login-message {
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}
