.cartitem-container {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.cartitem-name {
  float: left;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  display: flex;
}

.underline {
  border-bottom: 1px solid black;
}

.delete-cartitem {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: black;
  color: red;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  user-select: none;
}
